body {
    background-color: #432818;
    color: #ffe6a7;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 350px;
    height: 300px;
    margin: 80px auto;
    padding: 20px;
    background-color: #6f1d1b;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
}

.buttons {
    margin: 20px 0;
}

button {
    width: 50px;
    height: 40px;
    margin: 5px;
    background-color: #bb9457;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #99582a;
}